<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<div class="widget">
  <h1>Slider</h1>
  <fieldset>
    <legend>Select:</legend>
    <label for="radio-1">color</label>
    <input type="radio" name="radio-1" id="radio-1">
    <label for="radio-2">backgroundColor</label>
    <input type="radio" name="radio-1" id="radio-2">
  </fieldset>

  <div style="padding: 50px; display: flex; align-items: center;">
    <div id="slider_block" style="width: 300px; padding-right: 50px;">
      <div id="slider1" style="margin-bottom: 35px;"></div>
      <div id="slider2" style="margin-bottom: 35px;"></div>
      <div id="slider3" style="margin-bottom: 35px;"></div>
    </div>
    <fieldset style="width: 300px; background-color: #fff;" id="text">
      Статья́ — это жанр журналистики, в котором автор ставит задачу
      проанализировать общественные ситуации, процессы, явления, прежде всего с
      точки зрения закономерностей, лежащих в их основе.Такому жанру как статья
      присуща ширина практических обобщений, глубокий анализ фактов и явлений,
      четкая социальная направленность. В статье автор рассматривает отдельные
      ситуации как часть более широкого явления. Автор аргументированно пишет о
      своей точке зрения.
    </fieldset>
  </div>

</div>
